.wrap {
  border: 1px solid #d9d9d9;
  margin-bottom: 8px;
  padding: 4px;
}

.content {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  width: 20%;
}

.title {
  color: var(--ant-primary-color);
  font-weight: 600;
}

.subTitle {
  font-weight: 600;
}

.minTitle {
  color: #f34242;
  font-weight: 600;
}

.maxTitle {
  color: hsl(140, 60%, 40%);
  font-weight: 600;
}
